.page-login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.title-login {
  color: rgba(22, 102, 139, 0.938);
  font-size: xx-large;
  font-weight: 900;
  padding: 20px;
  text-align: center;
}

.link-create-user {
  display: block;
  padding: 20px;
  text-align: center;
}