.page-login {
  align-items: center;
  border: 2px, 2px 2px #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.title-login {
  color: #fff;
  font-size: xx-large;
  font-weight: 900;
  padding: 20px;
  text-align: center;
}

.link-create-user {
  display: block;
  padding: 20px;
  text-align: center;
}